/* You can add global styles to this file, and also import other style files */
:root{
  --bg-color: #3a2d2d;
  --sec-color: #2d2d3a;
  --terc-color: #2d3a2d;
  --bl-color: #000000;
  --font-color: #b5b1a8;
  --font-bt-color: #2d2d3a;
  --font-bth-color: #ffffff;
  --mdc-filled-text-field-focus-label-text-color: #1b1b1b;
  --mdc-filled-text-field-focus-active-indicator-color: #1b1b1b;
}

:root .clear{
  --bg-color: #f5f5f5;
  --sec-color: #8d8d8d;
  --terc-color: #2d3a2d;
  --bl-color: #8d8d8d;
  --font-color: #1b1b1b;
  --font-bt-color: #292828;
  --font-bth-color: #292828;
  --mdc-filled-text-field-focus-label-text-color: #1b1b1b;
  --mdc-filled-text-field-focus-active-indicator-color: #1b1b1b;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bl-color);
}


