
<div class="home">
  <div class="column-links">
    <ul class="item-list">
      <li><a routerLink="/habilidades"><button class="item-button">Habilidades e Projetos</button></a></li>
      <li><a target="_blank" href="https://www.facebook.com/almoretp/"><button class="item-button"> <span class="fa fa-facebook"></span>Apenas memes e velharias no Facebook</button></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/alvaromoret/"><button class="item-button"> <span class="fa fa-linkedin"></span> Assunto Sério no LinkedIn</button></a></li>
      <li><a target="_blank" href="https://github.com/AlvaroMoret"><button class="item-button"> <span class="fa fa-github"></span> Mais projetos no GitHub?</button></a></li>
      <li><a target="_blank" href="https://www.instagram.com/alvarom.p/"><button class="item-button"> <span class="fa fa-instagram"></span> Fotinhas e outros no Instagram</button></a></li>
      <li><a target="_blank" href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ1D7kXiYm8NEKgdHz38Itjf5UZdugXHJS3cuDMBJlpcn_4l28Nccx3DjlX143Hqu-ld0HHZLW_0?gv=true"><button class="item-button" id="marcar">Agendar um Horário</button></a></li>
    </ul>
  </div>


</div>

